body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}
header {
  background-color: #007BFF;
  color: white;
  padding: 20px;
  text-align: center;
}
#car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.car {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}
.car.available {
  border-color: green
}
.car.rented {
  border-color: red;
  opacity: 0.6;
}